[submodule "vendors/Pentagram"]
	path = vendors/Pentagram
	url = https://github.com/ShoweryCellar34/Pentagram.git
[submodule "vendors/json"]
	path = vendors/json
	url = https://github.com/nlohmann/json.git
[submodule "vendors/tinyfiledialogs/tinyfiledialogs"]
	path = vendors/tinyfiledialogs/tinyfiledialogs
	url = http://git.code.sf.net/p/tinyfiledialogs/code
[submodule "vendors/lua/lua"]
	path = vendors/lua/lua
	url = https://github.com/lua/lua.git
[submodule "vendors/Resource-manager"]
	path = vendors/Resource-Manager
	url = https://github.com/ShoweryCellar34/Resource-Manager.git
